@page "/Cart"
@inherits CartDisplayBase

@if (CartItems==null)
{
    <span class="loader"></span>
}
else 
{
    <h3 class="mb-5">Корзина</h3>
    <div class="row mb-5">
      <div class="col-md-9">
            @foreach (var item in CartItems)
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img width="300" class="img-thumbnail" src="@item.ImageUrl">
                      </div>
                        <div class="col-md-8">
                            <h5>@item.ProductName</h5>
                            
                            <span>Цена: <b>@item.Price.ToString("C", culture)</b></span>
                        <div>
                            <button class="btn-danger"
                            @onclick ="()=> (DeleteFromCart_Click(item.Id)
                            )"> Убрать из корзины</button>
                        </div>
                            </div>
                    </div>
            }
        </div>
      <div class="col-md-3">
          <h5>Cart Summary</h5>
          <div class="mt-2">
              <div>Итоговая сумма - </div>
              <a href="#" class="btn btn-success">
                  <span class="oi oi-credit-card"></span>&nbsp; Продолжить оформление

              </a>
          </div>
      </div>
    </div>

    
}