@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @*<div class="card">
                <button onclick="window.location.href ='https://localhost:7292/Cart'" type="button">Корзина</button>
        </div>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
